In [1]:
import torch
import numpy as np
import pandas as pd
import os
import sys

import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
sys.path.append('..')
from importlib import reload
import utils

In [17]:
os.environ['CUDA_VISIBLE_DEVICES']='0'

In [29]:
state = torch.load('../checkpoints/model_fixed_head.pth',map_location='cpu')
model = state['model']

Head weights (players are sorted by their embedding value before passing through head)

In [30]:
pd.DataFrame(model['head.weight'].flatten().numpy())

          0
0  0.182632
1  0.182943
2  0.186120
3  0.185988
4  0.157382
5  0.104934

Ratings

In [26]:
rating = model['emb.weight'].flatten().numpy()
rating = pd.DataFrame({'rating': rating}).sort_values(by='rating', ascending=False)
rating.head()

         rating
32765  0.096171
12747  0.096149
31190  0.096099
27822  0.095797
18332  0.093150